@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Poppins&display=swap');

body {
    background-color: rgb(221, 144, 1) !important;
    font-family: 'Montserrat', sans-serif !important;
    font-family: 'Poppins', sans-serif !important;
}

.navbar h3 {
    color: darkorange;
}

.description-data {
    text-align: justify;
    max-height: 50px;
    overflow: hidden !important;
    transition: max-height 0.5s ease;
}

.show-more {
    max-height: 1500px;
    transition: max-height 0.5s ease-in-out;
}

.pagination {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: #479f76;
    --bs-pagination-bg: var(--bs-body-bg);
    --bs-pagination-border-width: var(--bs-border-width);
    --bs-pagination-border-color: var(--bs-border-color);
    --bs-pagination-border-radius: var(--bs-border-radius);
    --bs-pagination-hover-color: #b3f2d6;
    --bs-pagination-hover-bg: var(--bs-tertiary-bg);
    --bs-pagination-hover-border-color: var(--bs-border-color);
    --bs-pagination-focus-color: #c0e9d6;
    --bs-pagination-focus-bg: var(--bs-secondary-bg);
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(31, 174, 112, 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #198754;
    --bs-pagination-active-border-color: #051b11;
    --bs-pagination-disabled-color: var(--bs-secondary-color);
    --bs-pagination-disabled-bg: var(--bs-secondary-bg);
    --bs-pagination-disabled-border-color: var(--bs-border-color);
    display: flex;
    padding-left: 0;
    list-style: none;
}

.badge {
    font-size: 14px;
}

.scroll-down {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #198754;
    opacity: 0.7;
    position: fixed;
    bottom: 85px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    z-index: 9999;
}

.filter {
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    transition: height 0.2s ease;
}

.filter-div {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s linear;
}

.filter-div.expanded {
    max-height: 800px;
}

.submit,
.reset {
    margin-block: 1rem;
}

.filter-btn {
    margin-block: 10px;
}

.filter-btn.active {
    color: #0d6efd;
    background-color: transparent;
    border-color: #0d6efd;
}

.filter-btn.active:hover {
    color: var(--bs-btn-active-color);
    background-color: #0d6efd;
    border-color: var(--bs-btn-active-border-color);
}

.scroll-down:hover {
    opacity: 1;
}

.scroll-down i {
    font-size: 20px;
    color: white;
}

footer {
    background-color: #fff;
    width: 100% !important;
    margin-bottom: 0 !important;
    margin-right: 0 !important;
}

footer a {
    color: black;
}

.linkedin {
    color: #198754;
}

@media screen and (max-width: 768px) {
    .scroll-down {
        display: none !important;
    }

}